body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.6);
    background:#0f0f0f;
    user-select: none;
}

.container {
    display: flex;
    position: relative;
}
.part {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.part-green {
    background: green;
}
.part-white {
    background: white;
}
.part-black {
    background: rgb(20, 20, 20);
}
.part-red {
    background: rgb(90, 42, 42);
    position: fixed;
    top: -70%;
    left: 50%;
    width: 800px;
    height: 800px;
    z-index: 5;
    transform: translateX(-50%) rotate(-135deg);
}

.img-container{
    flex-grow: 1;
    margin: 2px;
    background-color: rgba(238, 130, 238, 0);

}
.img {
    height: 40px;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    vertical-align: bottom;
    transform: rotate(var(--rotation)) scale(1.3);
}

@media screen and (min-width: 800px) {
    .part-red {
        top: -120%;
        width: 1300px;
        height: 1300px;
    }
}
@media screen and (min-width: 1400px) {
    .part-red {
        top: -100%;
        width: 1300px;
        height: 1300px;
    }
}